{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Your GoLink Password Was Changed" %}</title>
</head>
<body>
    <p>{% blocktrans %}Hi {{ username }},{% endblocktrans %}</p>
    <p>{% blocktrans %}This is a confirmation that the password for your GoLink account has just been changed.{% endblocktrans %}</p>

    <h3>{% trans "Details:" %}</h3>
    <ul>
        <li><strong>{% trans "Time (UTC):" %}</strong> {{ timestamp }}</li>
        <li><strong>{% trans "IP Address:" %}</strong> {{ ip_address }}</li>
    </ul>

    <p>{% blocktrans %}If you did not make this change, please contact our support team immediately.{% endblocktrans %}</p>

    <p>
        {% blocktrans %}Thanks,{% endblocktrans %}<br>
        {% blocktrans %}The GoLink Team{% endblocktrans %}
    </p>
</body>
</html>
